#phone::-webkit-inner-spin-button,
#phone::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#label {
    z-index: 99;
    line-height: 25px;
    padding: 2px;
    margin-left: 5px;
    position: absolute;
    margin-top: 31px;
    color: #808080;

}

#phone {
    text-indent: 30px;
}